*, *::after, *::before {
    box-sizing: border-box;
}
:root {
    --rotation: 0deg;
}
body {
    height: 100vh;
}
.container {
    font-family: Arial;
    height: 16rem;
    left: 50%;
    overflow: hidden;
    position: relative;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 32rem;
}
.loader {
    background: transparent;
    border: 30px solid #d7eca6;
    border-radius: 50%;
    height: 32rem;
    transition: transform 0.2s ease;
    transform: rotate(var(--rotation));
    position: relative;
    width: 32rem;
}
.loader::before {
    content: '';
    border: 30px solid #8cc800;
    border-left-color: transparent;
    border-radius: 50%;
    border-top-color: transparent;
    height: 32rem;
    left: -30px;
    top: -30px;
    transform: rotate(45deg);
    position: absolute;
    width: 32rem;
    z-index: 2;
}
.loader__title {
    color: #8cc800;
    font-size: 5rem;
    left: 50%;
    top: 45%;
    position: absolute;
    transform: translateX(-50%);

}
