body {
    height: 100vh;
    background-color: lightgray;
}

.body_container {
    background-color: lightgray;
    display: flex;
    width: auto;
    height: 100%;
}

.body_left {
    padding-top: 3%;
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    gap: 40px;
}

.body_right {
    width: 50%;
    background-color: white;
}

:root {
    --rotation: 0deg
}


.gauge_container {
    border-radius: 30px;
    width: 75%;
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #d26161;
    grid-row: 1;
}

.risk_container {
    grid-row: 2;
    display: flex;
    background-color: #d26161;
    width: 75%;
    height: 15%;
    border-radius: 30px;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 30px;
    font-weight: bold;
}

.gauge {
    flex: 1;
    max-width: 80%;
    margin: auto;
}

.gauge_body {
    width: 100%;
    height: 0;
    padding-bottom: 50%;
    background: #b4c0be;
    position: relative;
    border-top-left-radius: 100% 200%;
    border-top-right-radius: 100% 200%;
    overflow: hidden;
}

.gauge_fill {
    position: absolute;
    top: 100%;
    left: 0;
    width: inherit;
    height: 100%;
    background: red;
    transform-origin: center top;
    transition: transform 0.2s ease-out;
}

.gauge_cover {
    width: 75%;
    height: 150%;
    background: rgba(224, 54, 54, 0.685);
    border-radius: 50%;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);

    /* Text */
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 35%;
    box-sizing: border-box;

    /* Font */
    font-size: 70px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
}

.button_container {
    display: flex;
    height: 15%;
    width: 75%;
    justify-content: space-evenly;
    align-items: center;
}

.m_button {
    width: 50%;
    height: 100%;
}

.but {
    padding: 10%;
    font-size: 100%;
    align-items: center;
    width: 80%;
    font-size: 150%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    vertical-align: center;
    border: none;
    background-color: #6d9ecb;
    color: white;
    border-radius: 10px;
}

.but, .m_button {
    text-align: center;
}

.but:hover {
    background-color: #195388dc;
    cursor: pointer;
}

.header {
    background-color: #4d4c4c;
    color: white;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
}
