body {
    height: 100vh;
}

.header {
    background-color: #114060;
    color: white;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
}

.body_container {
    display: flex;
    width: auto;
    height: 100%;
    flex-direction: column;
    align-items: center;
}

.button_container {
    display: flex;
    flex-direction: row;
    height: 25%;
    width: 50%;
    justify-content: space-evenly;
    align-items: center;
    
}

.m_button {
    width: 40%;
    height: 50%;
}

.but {
    padding: 10%;
    font-size: 100%;
    align-items: center;
    width: 80%;
    font-size: 150%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    vertical-align: center;
    border: none;
    background-color: #4F8FC0;
    color: white;
    border-radius: 10px;
}

.but, .m_button {
    text-align: center;
}

.but:hover {
    background-color: #195388dc;
    cursor: pointer;
}

.inputForm {
    padding-top: 3%;
    font-family: Arial, Helvetica, sans-serif;
    height: 30%;
    font-size: 30px;

}